{% extends 'base.html' %}

{% block building %}
    Administration
{%endblock %}

{%block firstrow %}
         <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Foyer</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Principal Office</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">A/P Office</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Medical Hub</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Office 3</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Office 4</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Office 5</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Office 6</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}