{% extends 'base.html' %}

{% block building %}
    Danthonia
{%endblock %}

{%block firstrow %}
         <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA1</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA2</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA3</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA4</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA5</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">DA6</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}