{% extends 'base.html' %}

{% block building %}
    Gravelia
{%endblock %}

{%block firstrow %}
         <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">GR1</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">GR2</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">GR3</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}

{% endblock %}