{% extends 'base.html' %}

{% block building %}
    Mallee Upper Level
{%endblock %}

{%block firstrow %}
         <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF1</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF2</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF3</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF4</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF5</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF6</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF7</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MF8</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}