{% extends 'base.html' %}

{% block building %}
    Mallee Lower Level
{%endblock %}

{%block firstrow %}
         <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MG1</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MG2</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MG3</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Robotics Room</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Launch Room</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
         <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MG6</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">MG7</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
          <div class="card text-black bg-warning mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">Arena</h5>
             <p class="card-text">Max Safe Number of People:...</p>
             <p class="card-text">Lights On/Off?</p>
             </div>
          </div>
{% endblock %}