{% extends 'base.html' %}

{% block building %}
    Sandlewood
{%endblock %}

{%block firstrow %}
         <div class="card text-black {% if sandlewood_dict.SF1>=sandlewood_dict.SF1MAX %} bg-danger {% elif sandlewood_dict.SF1>=0.5*sandlewood_dict.SF1MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SF1</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SF1MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SF1 }}</p>
             </div>
          </div>
         <div class="card text-black {% if sandlewood_dict.SF2>=sandlewood_dict.SF2MAX %} bg-danger {% elif sandlewood_dict.S21>=0.5*sandlewood_dict.SF2MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SF2</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SF2MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SF2 }}</p>
             </div>
          </div>
          <div class="card text-black {% if sandlewood_dict.SF3>=sandlewood_dict.SF3MAX %} bg-danger {% elif sandlewood_dict.SF3>=0.5*sandlewood_dict.SF3MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SF3</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SF3MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SF3 }}</p>
             </div>
          </div>
          <div class="card text-black {% if sandlewood_dict.SF4>=sandlewood_dict.SF4MAX %} bg-danger {% elif sandlewood_dict.SF4>=0.5*sandlewood_dict.SF4MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SF4</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SF4MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SF4 }}</p>
             </div>
          </div>
{% endblock %}

{%block secondrow %}
         <div class="card text-black {% if sandlewood_dict.SG1>=sandlewood_dict.SG1MAX %} bg-danger {% elif sandlewood_dict.SG1>=0.5*sandlewood_dict.SG1MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SG1</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SG1MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SG1 }}</p>
             </div>
          </div>
         <div class="card text-black {% if sandlewood_dict.SG2>=sandlewood_dict.SG2MAX %} bg-danger {% elif sandlewood_dict.SG2>=0.5*sandlewood_dict.SG2MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SG2</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SG2MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SG2 }}</p>
             </div>
          </div>
          <div class="card text-black {% if sandlewood_dict.SG3>=sandlewood_dict.SG3MAX %} bg-danger {% elif sandlewood_dict.SG3>=0.5*sandlewood_dict.SG3MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SG3</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SG3MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SG3 }}</p>
             </div>
          </div>
          <div class="card text-black {% if sandlewood_dict.SG4>=sandlewood_dict.SG4MAX %} bg-danger {% elif sandlewood_dict.SG4>=0.5*sandlewood_dict.SG4MAX %} bg-warning {% else %} bg-success {% endif %} mb-3" style="max-width: 18rem;">
             <div class="card-body">
             <h5 class="card-title">SG4</h5>
             <p class="card-text">Max Safe Number of People: {{ sandlewood_dict.SG4MAX }}</p>
             <p class="card-text">Current Number of People: {{ sandlewood_dict.SG4 }}</p>
             </div>
          </div>
{% endblock %}